/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  
  .nav-brand {
    display: flex;
    align-items: center;
  
    padding: 0 20px;
  
    grid-column: 1 / span 3;
  
    height: 65px;
  }
  
  .nav-brand h1 {
    color: var(--clr-white);
  
    font-family: "Poiret One";
    font-size: 1.5rem;
    font-style: italic;
    margin-right: 20px;
  }
  
  .nav-search {
    background: rgba(255, 255, 255, 0.2);
    background-image: url("../../assets/magnifying-glass.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    color: var(--clr-white);
  
    width: 250px;
    height: 35px;
  
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    padding-left: 30px;
  }
  
  .nav-search::placeholder {
    color: var(--clr-white);
    font-family: "Open Sans";
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100%;
  
    list-style: none;
  }
  
  .nav-links li {
    height: 100%;
    min-width: 60px;
  }
  
  .nav-links li a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  
    height: 100%;
    padding: 0 10px;
  
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    background-color: rgba(34, 64, 109, 0.3);
  }
  
  .nav-connect {
    width: 175px;
    height: 50px;
  
    background: rgba(255, 255, 255, 0.2);
    color: var(--clr-white);
  
    border: none;
    border-radius: 4px;
  
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 600;
  
    cursor: pointer;
    transition: all 250ms ease;
  }
  
  .nav-connect:hover {
    background-color: var(--clr-dark-blue);
  }

  .invisible {
    visibility: hidden;
  }

  .newEvent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 110;
    background: #00000056;
  }

  .newEvent_form{
    width: calc(100vw - 50%);
    max-width: 800px;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgb(0 0  0 / 16%), 0 3px 6px rgb(0 0 0 / 20%);
    background: var(--clr-dark-blue);
  }

  .input-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    label {
      font-weight: bold;
      font-size: 1.5rem;
      color: var(--clr-white);
      };
    input , textarea {
        width: 100%;
        border: none;
        border-radius: 10px;
        outline: none;
        font-size: 1.5rem;
        color: gray;
        padding: 10px 5px;
        &::placeholder {
          color: gray ;
        }
    }
  }

  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .form_btn {
    height: 50px;
    padding: 10px 30px;
  
    background: rgba(255, 255, 255, 0.2);
    color: var(--clr-white);
  
    border: none;
    border-radius: 4px;
  
    font-size: 1.10em;
    font-weight: 600;
  
    cursor: pointer;
    transition: all 250ms ease;
    }

    .newEvent_close{
      display: flex;
      justify-content: end;
    }